html, body{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

p{
    font-size: 10px;
    line-height: 20px;
    
}

h6{
    line-height: 20px;
}



#parent{
    height: 100%;
    width: 100%;
    background-color:lightblue;
}

#parent2{
    position: absolute;
    top:70%;
    left : 50%;
}
#parent3{
   display: flex;
   align-items: flex-start;
}

#wrapper{
   position: absolute;
    top: 30px;
    left: 50%;
}

#wrapper2{
    width: 400px;
    position: absolute;
    top: 30%;
    left: 40%;
   
}

#parent4{
    width: 100%;
    max-width: 600px;
    display: flex;
    border: 2px dashed black;
    justify-content:space-between;
}

#child1{
    height: 100px;
    width: 100px;
    background-color: salmon;
}

#child2{
    height: 100px;
    width: 100px;
    background-color: lightseagreen;
}

#child3{
    height: 100px;
    width: 100px;
    background-color:royalblue ;
}
#child4{
    height: 50px;
    width: 50px;
    background-color: salmon;
}

#child5{
    height: 50px;
    width: 50px;
    background-color: lightseagreen;
}

#child6{
    height: 50px;
    width: 50px;
    background-color:royalblue ;
}

#child7{
    height: 100px;
    width: 100px;
    background-color: salmon;
}

#child8{
    height: 100px;
    width: 100px;
    background-color: lightseagreen;
}

#child9{
    height: 100px;
    width: 100px;
    background-color:royalblue ;
}
#child10{
    height: 100px;
    width: 100px;
    background-color: salmon;
}

#child11{
    height: 100px;
    width: 100px;
    background-color: lightseagreen;
}

#child12{
    height: 100px;
    width: 100px;
    background-color:royalblue ;
}


